<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ChapeauHerkansing3" connectionString="Data Source=projectchapeauserver3.database.windows.net;
         Initial Catalog=projectchapeauserver3; 
		 User=herkanserschapeau; 
		 Password=Herkansing3"/>
	</connectionStrings>
</configuration>